.container-user {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 10px;
  width: 100%;
}

.container-user-data {
  display: flex;
  flex-direction: column;
}

.container-user-data span:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
.container-user-data span:nth-child(2) {
  font-size: 12px;
}
