.container-aprovacoes-despesas {
  width: 90%;
}

.aprovacoes-cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  gap: 10px;
}

.aprovacoes-cabecalho-texto {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.aprovacoes-cabecalho-texto span:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
}

.aprovacoes-cabecalho-texto span:nth-child(2) {
  font-size: 10px;
  color: var(--primary);
}

.aprovacoes-cabecalho-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.aprovacoes-cabecalho-total-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--secondary);
  padding: 5px 10px;
  border-radius: 18%;
}

.aprovacoes-cabecalho-total-texto {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

/* .container-aprovacoes-despesas-descricao span {
  font-size: 13px;
  font-weight: 600;
  color: var(--text);
}

.container-aprovacoes-despesas-descricao svg {
  color: var(--text);
}

.container-aprovacoes-despesas-descricao div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.container-aprovacoes-despesas-descricao div:nth-child(2) {
  background-color: var(--secondary);
  border-radius: 18%;
  padding: 5px 10px;
} */
