.header {
  color: #000;
  background-color: #f5f5f5;
  padding: 15px 15px 15px 15px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: inherit;
  outline: none;
  display: flex;
}
