.header-back {
  color: #000;
  background-color: #f5f5f5;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding: 20px 15px 15px 15px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-back span {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
