.container-aprovacoes {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 85%;
  gap: 20px;
}

.container-aprovacoes-title {
  display: flex;
  align-items: flex-start !important;
  justify-content: start !important;
  width: 100%;
  margin-left: 5px;
}

.container-aprovacoes-title span {
  font-size: 18px;
  font-weight: 600;
}

.container-aprovacoes-detalhes {
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
  padding: 15px 10px 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container-aprovacoes-divider {
  padding-left: 33px;
}

.container-aprovacoes-linha {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-aprovacoes-col1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-aprovacoes-col2 {
  display: flex;
  align-items: center;
}

.container-aprovacoes-col1 span {
  font-size: 14px;
}

.container-aprovacoes-col2 span {
  font-size: 13px;
  color: var(--primary);
}
